body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
}

#username-holder {
    color: white;
    align-items: center;
    justify-content: center;
    float: right;
    padding-top: 13px;
}


#black-box {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
}


#posts {
    background-color: darkblue;
    height: calc(100vh - 50px); 
    width: 100%;
    opacity: 0.97;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}


#post-header {
    color: white;
    margin-bottom: 20px; /
}


.new-post-form {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-sizing: border-box;
    width: 70%;
    max-width: 500px; 
}


label {
    font-weight: bold;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

