@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-position:center;
    background-image:url("../static/images/nah_id_win.jpg")
  }


  .title {
    background-color:darkgreen;
    font-size: 25px;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    padding: 5px;
  }

  #login {
    padding-right: 100px;
  }

  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    width: 500px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 3px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }