<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbied</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/loggedinstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-VKXo9Aq+OHEITVZHv2nW5/efc/ClfXpUf+YfTFJvHpzKC+hrjlZ2jpzUV2gSLvWK" crossorigin="anonymous">
</head>
<body onload="available_posts_listen()">
    <div class="wrapper">
        <div class="contents" id="black-box">
            <div class="name-holder" id="username-holder">
                <span>Welcome {{Username}}!</span>
                <!-- Logout button -->
                <form action="/logout" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="scrollable" id="posts">
            <!-- New Post button, not completed yet -->
            <button class="new-post-button" onclick="newPost()">New Post</button>
            
            <!-- Iterate over postsInfo to display posts -->
            {% for postInfo in postsInfo %}
                <div class="singular-post" onclick="post_navigate()">
                    <!-- Display post information -->
                    <h2 class="post-title">{{postInfo.postTitle}}</h2>
                    <h3 class="post-info">Posted by {{postInfo.username}}, on {{postInfo.time}}</h3>
                    <h3 class="post-desc">Message: {{postInfo.postDesc}}</h3>
                    <h3 class="post-likes">Likes: <span class="like-count">{{postInfo.likes}}</span></h3>
                    
                    <!-- Display post image if available -->
                    <div id="image-fix">
                        {% if postInfo.image_message %}
                        <img src="{{ postInfo.image_message }}" alt="Post Image" class="post-image">
                        {% endif %}
                    </div>
                     <div id="video-fix">
                        {% if postInfo.video_message %}
                        <video width="20" height="20" controls>
                            <source src="{{ postInfo.video_message }}" type="video/mp4" class="post-video">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                    </div>
                
                    <!-- Like and Unlike buttons -->
                    <div class="like-dislike">
                       
                       
                        <form action="/record-like" method="post" onsubmit="showLikedMessage()" id="like-form">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <span id="like-message" class="emoji" style="display: none;">&#x1F44D;</span>
                            <button type="submit" class="like-button">Like</button>
                        </form>
                        
                        <form action="/record-unlike" method="post" onsubmit="showUnlikedMessage()" id="undo-like-form">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <span id="unlike-message" class="emoji" style="display: none;">&#x1F44E;</span>
                            <button type="submit" class="dislike-button">Undo Like</button>
                        </form>
                       
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="user-list">
            <span>Timed Quiz</span>
            <form action="/start_quiz" method="post">
                <button type="submit">Start Quiz</button>
            </form>
        </div>
    </div>
    <script src="../static/all_functions.js"></script>
</body>
</html>
