<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbied</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/loggedinstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-VKXo9Aq+OHEITVZHv2nW5/efc/ClfXpUf+YfTFJvHpzKC+hrjlZ2jpzUV2gSLvWK" crossorigin="anonymous">
</head>
<body onload="available_posts_listen()">
    <div class="wrapper">
        <div class="contents" id="black-box">
            <div class="name-holder" id="username-holder">
                <span>Welcome {{Username}}!</span>
                <!-- Logout button -->
                <form action="/logout" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="scrollable" id="posts">
            <!-- New Post button, not completed yet -->
            <button class="new-post-button" onclick="newPost()">New Post</button>
            
            <!-- Iterate over postsInfo to display posts -->
            {% for postInfo in postsInfo %}
                <div class="singular-post" onclick="post_navigate()">
                    <!-- Display post information -->
                    <h2 class="post-title">{{postInfo.postTitle}}</h2>
                    <h3 class="post-info">Posted by {{postInfo.username}}, on {{postInfo.time}}</h3>
                    <h3 class="post-desc">Message: {{postInfo.postDesc}}</h3>
                    <h3 class="post-likes">Likes: <span class="like-count">{{postInfo.likes}}</span></h3>
                    
                    <!-- Display post image if available -->
                    <div id="image-fix">
                        {% if postInfo.image_message %}
                        <img src="{{ postInfo.image_message }}" alt="Post Image" class="post-image">
                        {% endif %}
                    </div>
                     <div id="video-fix">
                        {% if postInfo.video_message %}
                        <video width="20" height="20" controls>
                            <source src="{{ postInfo.video_message }}" type="video/mp4" class="post-video">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                    </div>
                
                    <!-- Like and Unlike buttons -->
                    <div class="like-dislike">
                       
                       
                        <form action="/record-like" method="post" onsubmit="showLikedMessage()">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <span id="like-message" class="emoji" style="display: none;">&#x1F44D;</span>
                            <button type="submit" class="like-button">Like</button>
                        </form>
                        
                        <form action="/record-unlike" method="post" onsubmit="showUnlikedMessage()">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <span id="unlike-message" class="emoji" style="display: none;">&#x1F44E;</span>
                            <button type="submit" class="dislike-button">Undo Like</button>
                        </form>
                       
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="user-list" id="user-list">
            <h2>&#10024;User List&#10024;</h2>
            <ul id="userlist"></ul>

            <!--changed from 4.3.2 to 4.2.0 -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
            <script>
                //below was previos
                const socket = io.connect('wss://' + window.location.host);
                //const socket = io();

                socket.on('connect', () => {
                    console.log('connected');
                });

                // Function to display the DM form for a specific user
                function showDmForm(user) {
                    const existingForms = document.querySelectorAll(`.dm-form-${user}`);
                    existingForms.forEach(form => form.remove());
                    
                    const form = document.createElement("form");
                    form.classList.add("dm-form");
                    form.classList.add(`dm-form-${user}`);
                    form.innerHTML = `
                        <input type="hidden" name="receiver" value="${user}">
                        <input type="text" name="message" placeholder="Type your message...">
                        <button type="submit">Send</button>
                    `;
                    form.addEventListener("submit", function(event) {
                        event.preventDefault();
                        const message = form.querySelector("[name='message']").value.trim();
                        if (message !== "") {
                            // Send to the server
                            socket.emit('submit_dm', {receiver: user, message: message });
                            form.querySelector("[name='message']").value = "";
                        }
                    });

                    const userItem = document.querySelector(`[data-user="${user}"]`);
                    if (userItem) {
                        userItem.appendChild(form);
                    }
                }

                socket.on('userlist', function(users) {
                    const userlist = document.getElementById("userlist");
                    userlist.innerHTML = "";
                    users.forEach(function(user) {
                        const li = document.createElement("li");
                        li.textContent = user;
                        li.setAttribute("data-user", user);
                        userlist.appendChild(li);
                        showDmForm(user);
                    });
                });

                socket.on('sender', function(data) {
                    const receiver = data.receiver;
                    const message = data.message;

                    const userItem = document.querySelector(`[data-user="${receiver}"]`);
                    if (userItem) {
                        const messageItem = document.createElement("li");
                        messageItem.textContent = message;

                        // append the message under the username
                        userItem.appendChild(messageItem);
                    }
                });

                socket.on('receiver', function(data) {
                    const sender = data.sender;
                    const message = data.message;

                    const userItem = document.querySelector(`[data-user="${sender}"]`);
                    if (userItem) {
                        const messageItem = document.createElement("li");
                        messageItem.textContent = message;
                        userItem.appendChild(messageItem);
                    }
                });

            </script>
        </div>
        
    </div>
    <script src="../static/all_functions.js"></script>
</body>
</html>
