<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbied</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/loggedinstyle.css">
</head>
<body onload="available_posts_listen()">
    <div class="wrapper">
        <div class="contents" id="black-box">
            <div class="name-holder" id="username-holder">
                <span>Welcome {{Username}}!</span>
                <!-- Logout button -->
                <form action="/logout" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="scrollable" id="posts">
            <!-- New Post button, not completed yet -->
            <button class="new-post-button" onclick="newPost()">New Post</button>
            
            <!--<div class="singular-post" onclick="post_navigate()">Click me</div>> -->

            <!--somehow need to find a way later to dynamically alter the html with new posts here, 
                with corresponding ids/names which can be used to retrieve a post's respective chats-->
            {% for postInfo in postsInfo %}

                <div class="singular-post" onclick="post_navigate()">
                    <!--classes below could be used for css styling later-->
                    <h2 class="post-title">{{postInfo.postTitle}}</h2>
                    <h3 class="post-info">Posted by {{postInfo.username}}, on {{postInfo.time}}</h3>
                    <h3 class="post-likes">Likes: <span class="like-count">{{postInfo.likes}}</span></h3>
                    <!-- <h4 class="post-dislikes">Dislikes: {{postInfo.dislikes}}</h4> -->

                    <div class="like-dislike">
                        <form action="/record-like" method="post">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <button type="submit" class="like-button">Like</button>
                        </form>
                        <form action="/record-unlike" method="post">
                            <!-- Assign the postid specific to the post -->
                            <input type="hidden" name="postid" value="{{ postInfo.postid }}">
                            <button type="submit" class="dislike-button">Unlike</button>
                        </form>
                    </div>
                </div>

            {% endfor %}
        </div>
    
    </div>
    
    <script src="../static/all_functions.js"></script>
    </body>
</html>
