<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbied</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/loggedinstyle.css">
</head>
<body onload="welcome()"><!--current_post_listen() called in welcome()-->
    <div class="wrapper">
        <div class="contents" id="black-box">
            <div class="name-holder" id="username-holder">
                <span>{{Username}}</span>
            </div>
        </div>
        <div class="scrollable" id="posts">
            <div id="opened-post">
                <div id="post-desp">
                    <p id="post-header">
                        post description and contents would go here, and below would be the comments 
                    </p>
                </div>
                <div class="cont">

                    <div class="chat">
                
                        
                        <div id="chat-messages">
                        </div>
                
                
                        <div class="chat-form">
                            <hr>
                            <label>
                                Chat:
                                <input id="chat-text-box" type="text">
                            </label>
                            <button id="chat-button" onclick="sendChat()">Send</button> <!--modify later so that chats also reference what post they are being posted from-->
                        </div>
                
                    </div>
            </div>     
        </div>
    </div>

    <!-- Add like and dislike buttons -->
    <div class="like-dislike">
        <button class="like-button" onclick="likePost('{{post_id}}')">Like</button>
        <span class="like-count">{{like_count}}</span>
        <button class="dislike-button" onclick="dislikePost('{{post_id}}')">Dislike</button>
        <span class="dislike-count">{{dislike_count}}</span>
    </div>

    <script src="../static/all_functions.js"></script>
</body>
</html>
